#xmas_tree {
    position: relative;
}


#xmas_tree {
    background: url(https://raw.githubusercontent.com/RobocodeSchool/web/master/assets/xmas/xmas_tree.png);
    background-repeat: no-repeat;
    height: 710px;
    width: 550px;
}

#ball1 {
  position: absolute;
  top: 333px;
  left: 306px;
}
